*{
  border: red 1px dotted;
}

html{
  width: 1200px;
}

h2{
  margin: 10px auto
}

h3{
  margin: 0px;
}

h4{
  margin: 10px auto;
}

h5{
  text-align: center;
}

body{
  top: 0px;
  right:0px;
  bottom: 0px;
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 1200px
}

header{
  position: fixed;
  display: flex;
  height: 69px;
  border-bottom: solid seashell 1px;
  width: 1200px;
  align-items: center;
  top: 0px;
  z-index: 10;
  background-color: black;
}

.logo{
  flex-grow: 1;
}

header img{
  height: 50px;
  padding-left: 10px;
}

header a{
  color: seashell;
  padding-right: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0px;
  padding: 0px;
  width: 1200px;
}

.mission{
  top: 69px;
  background-image: url('../images/missionbg.jpg');
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.mission-text{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

.month{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  top: 769px;
}

.month-text{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  background-color: black;
  width: 1000px;
}

.teas{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
  width: 1000px
}

.teas img{
  height:200px;
  width: 300px;
  display: block;
  margin: 5px 0px;
}

#myrtle{
  margin-left: 175px
}

#bedford{
  margin-right: 175px;
}

.locations{
  background-image: url('../images/locations-bg.jpg');
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
}

#buildings{
  display:flex;
  flex-flow: row nowrap;
}

.address{
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  text-align: center;
}


#downtown{
  margin-right:20px;
}

#bayside{
  margin-right: 20px;
  margin-left:20px;
}

#oakdale{
  margin-left: 20px;
}

.contact{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  height: 200px;

}
